.dashboard {
  padding: 0 100px;
}

.dashboard-profile-box {
  display: flex;
}

.dashboard-profile-img {
  margin: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.dashboard-profile_info {
  padding: 0 20px 0 10px;
  min-width: 250px;
  border-right: 3px solid white;
  margin: 10px 0 10px 0;
}

.dashboard-interests {
  flex-grow: 1;
  padding: 15px 0 15px 15px;
  min-height: 260px;
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.dashboard-interest {
  background: white;
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 5px 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  width: 130px;
  height: 58px;
  p {
    margin: 2px 0 0 0;
    padding: 0;
    line-height: 1;
  }
}


.dashboard-interest_icon {
  width: 30px;
  height: 30px;
}


.dashboard-edit {
  margin-top: 15px;
  margin-right: 40px;
}

.dashboard-edit-icon {
  font-size:30px;
  color: #B0BEC5;
}

.dashboard-edit-icon:hover {
  color: #546E7A;
}

.dashboard-bio {
  margin-bottom: 50px;
  margin-top: 15px;
}

.dashboard-motivation {
  padding-bottom: 20px;
  // border-bottom: 2px solid #B0BEC5;

}

.dashboard-friendrequest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  img {
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
  }
}

.dashboard-friendrequest:last-child {
  border-bottom: none;
}

.dashboard-friendrequest-name {
  padding-left: 10px;
  min-width: 100px;
}
.dashboard-friendrequest-name h3 {
  font-size: 17px;
  color: $font-dark;
  margin: 0 0 0 25px;
  width: 130px;
}
.dashboard-friendrequest-body p {
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.6;
  margin: none;
  padding: 0 30px;

}

.dashboard-friendrequest-body {
  flex-grow: 1;
  font-size: 13px;
  padding-right: 20px;
  // color: rgba(0,0,0,0.4);
}
.dashboard-friendrequest-body strong{
  // color: rgba(0,0,0,0.9);
  // color: rgba(0,0,0,0.9);
}

.dashboard-friendrequest-status {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.status {
  margin-bottom: 0;
  font-family: "Oswald", "sans-serif"
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: #949595;
}

.flex-box-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-left {
  padding-left: 20px;
}


