.dashboard-profile-box {
  display: flex;
  height: 300px;
}

.dashboard-profile-img {
  height: 200px;
  padding: 20px 20px;
  border-radius: 50%;

}

.dashboard-profile_info {
  padding: 0 20px;
  width: 600px;
  border-right: 2px solid gray;
  margin-top: 10px;

}

.dashboard-interests {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 40px;

}

.dashboard-interest {
  background: #b7b7b7;
  padding: 5px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 25%;
  text-align: center;
  margin: 10px 10px;
}


.dashboard-interest_icon {
  width: 30px;
}

.dashboard-interest-card {
  border: 1px solid black;
  text-align: center;
  width: 20px;
  padding: 4px;
  margin: 15px;
}

.dashboard-edit {
  margin-top: 20px;
  margin-right: 40px;
}

.dashboard-bio {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 90px;
}

.dashboard-motivation {
  margin-left: 30px;
  margin-right: 90px;
  padding-bottom: 30px;
  border-bottom: 2px solid gray;

}



