.dashboard {
  padding-left: 100px;
  padding-right: 100px
}

.dashboard-profile-box {
  display: flex;
  height: 260px;
}

.dashboard-profile-img {
  padding: 20px 20px;

}

.dashboard-profile_info {
  padding: 0 20px;
  min-width: 385px;
  border-right: 2px solid #B0BEC5;
  margin-top: 10px;

}

.dashboard-interests {
  // display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 30px;
  height: 260px;
  // flex-grow: 1;
  min-width: 630px;
}

.dashboard-interest {
  background: #b7b7b7;
  padding: 5px;
  border-radius: 5px;
  opacity: .4;
  // flex: 0 0 25%;
  text-align: center;
  margin: 5px 5px;
  // width: 95px;
}


.dashboard-interest_icon {
  width: 30px;
  height: 30px;
}


.dashboard-edit {
  margin-top: 15px;
  margin-right: 40px;
}

.dashboard-edit-icon {
  font-size:30px;
  color: #B0BEC5;
}

.dashboard-edit-icon:hover {
  color: #546E7A;
}

.dashboard-bio {
  margin-bottom: 50px;
  margin-top: 15px;
}

.dashboard-motivation {
  padding-bottom: 40px;
  border-bottom: 2px solid #B0BEC5;

}

.dashboard-friendrequest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.dashboard-friendrequest:last-child {
  border-bottom: none;
}

.dashboard-friendrequest-name {
  padding-left: 10px;
  min-width: 100px;
}
.dashboard-friendrequest-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.dashboard-friendrequest-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.dashboard-friendrequest-body {
  flex-grow: 1;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  // color: rgba(0,0,0,0.4);
}
.dashboard-friendrequest-body strong{
  // color: rgba(0,0,0,0.9);
  // color: rgba(0,0,0,0.9);
}
.dashboard-friendrequest-body p {
  margin: 6px 0;
}
.dashboard-friendrequest-status {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}


