.userprofile {
  padding: 0 200px;
}

.userprofile-profile-box {
  display: flex;
  height: 315px;
}

.userprofile-avatar-wrapper {
  margin: 15px 30px 10px 30px;
  text-align: center;
}

.userprofile-avatar-wrapper h2 {
  margin-bottom: 32px;
}

.profile-interests {
  flex-grow: 1;
  padding: 15px 0 15px 15px;
  min-height: 260px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 60px;
}

.profile-interest {
  background: white;
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 5px 5px 5px 30px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  width: 130px;
  height: 58px;
  p {
    margin: 2px 0 0 0;
    padding: 0;
    line-height: 1;
  }
}


.profile-interest_icon {
  width: 30px;
  height: 30px;
}

.userprofile-interests {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 30px;
  height: 350px;
  min-width: 890px;
}

.userprofile-interest {
  background: white;
  border: 2px solid $primary;
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 5px 5px;
  box-shadow: 0 0 3px $primary-hover;

}

.userprofile-information {
  padding: 15px;
  margin: 0 0 25px 0;
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}



.userprofile-interest_icon {
  width: 30px;
  height: 30px;
}


.userprofile-bio {
  margin-bottom: 20px;
  margin-top: 15px;
}

.userprofile-motivation {
  padding-bottom: 25px;

}

.userprofile-button {
  margin: 20px 20% 30px 390px;
  text-align: center;
}

.orange-button-request {
  margin:0;
  // margin: 7px 0;
  background-color: $secondary;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  &:hover {
    background-color: $secondary-hover;
  }
}

.orange-button-request h3 {
  color: white;
  margin: 0;
}

.orange-button-request a {
  text-decoration: none !important;
}

.orange-text {
  color: $secondary;
}







