.userprofile {
  padding-left: 100px;
  padding-right: 100px
}

.userprofile-profile-box {
  display: flex;
  height: 350px;
}

.userprofile-profile-img {
  padding: 20px 20px;
  height: 350px;

}


.userprofile-interests {
  // display: flex;
  // justify-content: space-around;
  // flex-wrap: wrap;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 30px;
  height: 350px;
  // flex-grow: 1;
  min-width: 890px;
}

.userprofile-interest {
  background: white;
  border: 2px solid #99D5F9;
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  // flex: 0 0 25%;
  text-align: center;
  margin: 5px 5px;
  // width: 95px;
}


.userprofile-interest_icon {
  width: 30px;
  height: 30px;
}


.userprofile-bio {
  margin-bottom: 20px;
  margin-top: 15px;
}

.userprofile-motivation {
  padding-bottom: 25px;

}

.userprofile-button {
  text-align: center;
  a {
    color: white;
  }
  .btn {
    background-color: $teal;
    border: none;
    width: 350px;
    height: 50px;
  }
  :hover {
    text-decoration: none;
  }
}





