.userprofile {
  padding-left: 100px;
  padding-right: 100px;
}

.userprofile-profile-box {
  display: flex;
  height: 315px;
}

.userprofile-avatar {
  padding-left: 30px;
  margin: auto 0;
}

.userprofile-interests {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 30px;
  height: 350px;
  min-width: 890px;
}

.userprofile-interest {
  background: white;
  border: 2px solid $primary;
  opacity: 1;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin: 5px 5px;
  box-shadow: 0 0 3px $primary-hover;

}

.userprofile-information {
  padding: 15px;
  margin: 0 0 25px 0;
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}



.userprofile-interest_icon {
  width: 30px;
  height: 30px;
}


.userprofile-bio {
  margin-bottom: 20px;
  margin-top: 15px;
}

.userprofile-motivation {
  padding-bottom: 25px;

}

.userprofile-button {
  text-align: center;
  margin: 20px 30%;
}

.orange-button-request {
  margin:0;
  // margin: 7px 0;
  background-color: $secondary;
  padding: 10px 0;
  border-radius: 5px;
  &:hover {
    background-color: $secondary-hover;
  }
}

.orange-button-request h3 {
  color: white;
  margin: 0;
}

.orange-button-request a {
  text-decoration: none !important;
}

.orange-text {
  color: $secondary;
}







