.search_container {
  padding-top: 50px;
  width: 900px;
  margin-left: 270px;
  margin-right: 270px;
}

#location-search-box {
  font-size: 25px;
  height: 60px;
  font-family: $headers-font;
}

#interest-headline {
  font-size: 25px;
}


