<h1>These are all the interests of <%= current_user.first_name %>:</h1>

<% @user_interests.each do |user_interest| %>
<ul>
  <li><%= user_interest.interest.name %>
    <%= link_to("destroy", user_interest_path(user_interest), method: :delete) %>
  </li>
</ul>
<% end %>
