<div class="sample-card">
  <div class="profile-tile">

    <div class="profile-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "hogwarts.jpg"%>);" >

      <img class="profile-avatar" src=<%= image_path "harry.jpg"%>>


    </div>


    <h3><strong>HARRY POTTER</strong></h3>

    <!-- USE SEED FILE!!!!!!!!!!!!! -->

    <p> My best friend is about 60 years old and he is one of the people I love most in this world. I am excited to make more friendships like the one I have with him. </p>

    <div class="button">
      <p><strong>More Info!</strong></p>
    </div>

  </div>
