.avatar {
  width: 30px;
  border-radius: 50%;
}

.avatar-medium {
  width: 50px;
  border-radius: 50%;
}


.avatar-large {
  width: 100px;
  border-radius: 50%;
}


.avatar-Xlarge {
  width: 200px;
  border-radius: 50%;
}


.avatar-XXlarge {
  width: 300px;
  border-radius: 50%;
}
