.show-slider {
  height: 50px;
  width: 140px;
  background-color: white;
  display: flex;
  position: absolute;
}

.show-slider:hover {
  cursor: pointer;
}

.show-slider h6 {
  align-self: center;
  color: black;
  margin: 0;
}

.hide-slider {
  height: 50px;
  width: 300px;
  background-color: $teal;
  display: flex;
}

.hide-slider:hover {
  cursor: pointer;
}

.hide-slider h6 {
  align-self: center;
  color: white;
  margin: 0;
}

.slider-window {
  height: 100vh;
  width: 300px;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 5;
}

.filter-slider {
  height: 50px;
  background-color: $teal;
}

.filter-slider:hover {
  cursor: pointer;
}

.slider-icon {
  width: 36px;
  align-self: center;
  margin: 0 15px;
}
