// Search and filter bar on Top

.filter-bar {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.search-container h5 {
  align-self: center;
  color: white;
  margin: 0 10px;
}

.search-container form {
  height: 30px;
  align-self: center;
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: center;
}

#location-form {

}

#location-search  {
  margin: 0 15px;
  width: 50%;
  height: 40px;
  padding-left: 5px;
}

.white-icon {
  color: white;
  align-self: center;
  margin-left: 20px;
  font-size: 40px;
}

.show-slider {
  height: 100%;
  width: 300px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.show-slider:hover {
  cursor: pointer;
  background-color: #F1F9F5;
}

.show-slider h5 {
  align-self: center;
  color: black;
  margin: 0;
  flex-grow: 1;
}

.hide-slider {
  height: 50px;
  width: 300px;
  background-color: $primary;
  display: none;
  justify-content: space-between;
  border-right: white solid 1px;
  z-index: 5;
}

.hide-slider:hover {
  cursor: pointer;
  background-color: $primary-hover;
}

.hide-slider h5 {
  align-self: center;
  color: white;
  margin: 0;
}

.slider-icon-white {
  width: 36px;
  align-self: center;
  margin: 0 15px;
}

.slider-icon-black {
  width: 42px;
  align-self: center;
  margin: 0 15px;
}

.arrow-left {
  color: white;
  align-self: center;
  margin-right: 15px;
  font-size: 35px;
}

.arrow-right {
  color: black;
  align-self: center;
  margin-right: 15px;
  font-size: 35px;
}

.search-container {
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: white;
}

// Filter-window and profile-boxes

.index-flex-box {
  display: flex;
}

.filter-window-wrapper {
  min-width: 0;
  z-index: 4;
}

.filter-window {
  width: 0;
  max-height: 1120px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  z-index: 4;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filter-visible {
  min-width: 300px;
}




