// MAKE A FRIEND FOR LIFE SECTION

.home-banner-content {
  background-repeat: no-repeat;
  margin-bottom: -400px;
  h1 {
    font-size: 150px;
    margin-bottom: 50px;
    color: black;
  }
}

.home-banner {
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// WHAT IS AMIKECO

.what-is-amikeco-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $background;
}

.what-is-amikeco-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 120px 75px 120px;
  flex-direction: column;
  h1 {
   font-size: 70px;
   color: black;
   margin-bottom: 34px;
   margin-top: -5px;
 }
 p {
  font-size:35px;
}
}

.what-is-amikeco-image-container {
 position: relative;
 padding: 0 40px;
}

.what-is-amikeco-avatar {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 25px;
  width: 450px;
}

//SCIENCE IS IN SECTION

.science-is-in-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.science-is-in-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 120px 75px 120px;
  flex-direction: column;
  h1 {
   font-size: 80px;
   color: black;
   margin-bottom: 34px;
   margin-top: -20px;
 }
 li {
  font-size:35px;
}
}

.science-is-in-image-container {
 position: relative;
 padding: 0 40px;
}

.science-is-in-avatar {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 25px;
  width: 450px;
}

// WHAT MEMBERS ARE SAYING SECTION

.testimonial-avatar {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 20px;
}

.testimonial-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
}

.testimonial-container {
  background-color: $background;
  padding: 40px 0px 75px 0px;
  h4 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 25px;
    color: black
  }
}

.testimonial-content {
  position: relative;
  padding: 0 40px;
  p {
    font-size: 25px;
    color: black;
  }
}

.testimonial-image-container {
 position: relative;
 padding: 0 40px;
}

// LOGO BULLET POINTS

ul.bridge {
  list-style-image: image-url('amikeco-stairs.png');
}












