// MAKE A FRIEND FOR LIFE SECTION

.home-banner-content {
  background-repeat: no-repeat;
  margin-top: 180px;
  h1 {
    font-size: 90px;
    margin-bottom: 50px;
    color: white;
    // text-shadow: 0 0 8px rgba(0,0,0,0.3);
  }
}

.home-banner {
  text-align: center;
  height: calc(100vh - 70px);
  min-height: 700px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.arrow-down {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 150px;
  font-size: 100px;
  color: white;
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
  &:hover {
    color: #BEBEC1;
    cursor: pointer;
  }
}

#second-arrow-down {
  margin-top: 50px;
}

#third-arrow-down {
  margin-top: -20px;
}

// WHAT IS AMIKECO

.what-is-amikeco-container {
  // display: flex;
  // justify-content: space-around;
  overflow: hidden;
  height: 100vh;
  min-height: 781px;
  min-width: 1300px;
  background-color: #FFF3F0;
  h1 {
    margin: 0;
  }
}

.what-is-amikeco-headline {
  text-align: center;
  padding-top: 30px;
  background-color: $primary-hover;
  color: white;
  position: relative;
}

#bridge-flat {
  margin-top: 20px;
}

.what-is-amikeco-subheadline {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $primary-hover;
  color: $primary;
  border-bottom: 4px solid white;
}
.what-is-amikeco-content {
  margin: 50px 40px 0 40px;
  display: flex;
  justify-content: space-around;
  // align-items: center;
}

.what-is-amikeco-card {
  background-color: rgba(255,255,255,0.9);
  width: 30%;
  min-height: 370px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  padding: 30px 20px;
  p {
    text-align: justify;
    font-size: 16px;
    strong {
      color: $secondary-hover;
    }
  }
}

.what-is-amikeco-avatar {
  text-align: center;
  margin: 0 auto;
}

.card_amikeco_avatar {
  border-radius: 50%;
  width: 100px;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.what-is-amikeco-card-head {
  text-align: center;
  color: $primary-hover;
  margin-bottom: 15px;
}

.what-is-amikeco-card-body{
  display: flex;
  align-items: center;
}

.what-is-amikeco-image-container {
 position: relative;
 padding: 0 40px;
}



//SCIENCE IS IN SECTION

.science-is-in-container {
  height: 100vh;
  min-height: 780px;
  background-color: white;
    h1 {
    margin: 0;
  }
}

.scienece-is-in-headline {
  text-align: center;
  padding-top: 30px;
  background-color: $secondary;
  color: white;
  position: relative;
}

.title-flat {
  text-align: center;
  background-color: white;
  width: 130px;
  height: 130px;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  top: 15px;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

#science-flat {
  margin-top: 10px;
}

.scienece-is-in-subheadline {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $secondary;
  color: white;
  border-bottom: 4px solid $secondary-hover;
  margin-bottom: 15px;
}

.science-is-in-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.science-box {
  display: flex;
  min-width: 1000px;
  border-radius: 10px;
  justify-content: space-between;
  background-color: $primary;
  border: 3px solid $primary-hover;
  max-length: 995px !important;
  color: white;
  position: relative;
  margin: 25px 30px 25px 50px;
  padding: 0 0 0 100px;
  h3 {
    margin: 20px 0;
    padding: 0;
  }
  h4 {
    padding: 0;
    margin: 24px 0;
  }
}

.box-icon {
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  border: 3px solid $primary;
  position: absolute;
  left: -20px;
  top: -12px;
}

.icon-avatar {
  width: 60px;
}

.read-up-right {
  width: 200px;
  background-color: $primary-hover;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h4 {
    color: white;
  }
  &:hover {
    background-color: $primary;
  }
}

.science-is-in-image-container {
 position: relative;
 padding: 0 40px;
}

.science-is-in-avatar {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 25px;
  width: 450px;
}

// WHAT MEMBERS ARE SAYING SECTION

.testimonial-headline {
  text-align: center;
  padding-top: 30px;
  background-color: $primary-hover;
  color: white;
  position: relative;
}

#teamwork-flat {
  margin-top: 15px;
}

.testimonial-subheadline {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  background-color: $primary-hover;
  color: $primary;
  border-bottom: 4px solid white;
}

.testimonial-container {
  height: 100vh;
  min-height: 780px;
  background-color: #FCF0EC;
  padding: 0 0px 75px 0px;
  h1 {
    margin: 0;
  }
}

.testimonial-avatar {
  width: 180px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonial-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
  margin: 0px 30px 20px 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.testimonial-image-container {
 position: relative;
 padding: 0 40px;
}

// LOGO BULLET POINTS

ul.bridge {
  list-style-image: image-url('amikeco-stairs.png');
}












