/* Main navbar */
.navbar-silver {
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $primary;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
}

/* Logo */
.navbar-silver-brand img {
  height: 50px;
}


/* User Avatar */
.navbar-silver .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-silver-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-silver-item {
  cursor: pointer;
  padding: 0 20px;
  text-decoration: none;
}

/* Navbar link */
.navbar-silver-link {
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 5px;
  border-radius: 8px;
    &:hover {
      text-decoration: none;
      background-color: $primary-hover;
      color: $font-light;
    }
}

.navbar-link-active {
  text-decoration: none;
  background-color: $primary-hover;
  color: $font-light;
}

.navbar-silver-name {
  color: #616668;
  font-size: 14px;
}


/* Dropdown menu */
.navbar-silver-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-silver-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $primary !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-silver-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $primary-hover !important;
}
.navbar-silver-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
