.form-page-container {
  background-color: white;
  padding: 50px 100px;
  margin-top: 30px;
  border-radius: 5px;
}
.form-box-spacing {
  margin-top: 25px;

}

.interest-choices {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  align-content: flex-start;

}

.form-box-height-lg {
  height: 150px !important;
}

.form-box-height-xl {
  height: 200px !important;
}

.form-box-inline {
  display: flex;
  // justify-content: space-around;

}

.interest-choice {
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  opacity: 1;
  padding: 10px;
  border-radius: 5px;
  flex: 0 0 22%;
  margin: 5px 10px 5px 5px;
  text-align: center;
  display:flex;
  align-items: center;
  flex-direction: column;

  &:hover {
    background: $secondary;
    opacity: 1;
    cursor: pointer;
    color: white;
    .form-interest-name {
      color: white;
      }
    }
  &.active {
    background: $secondary-hover;
    opacity: 1;
      .form-interest-name {
      color: white;
    }
  }
}

.interest_icon {
  width: 30px;
}

.interest-card {
  border: 1px solid black;
  text-align: center;
  width: 60px;
  padding: 4px;
  margin: 15px;
}

.action-button {
    background-color: $secondary;
    border: none;
    &:hover {
      background-color: $secondary-hover;
    }
}

.form-headline {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 35px;
}


.form_profile_update {

  ul {

    list-style-type: none;
    padding: 0;
    margin-top: 5px;
  }
  label {
    font-size: 20px;
    font-family: $headers-font;

  }
}
.form-interest-icon-circle {
  border-radius: 50%;
  background-color: white;
  width: 60px;
  height: 60px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.form-interest-name {
color: $primary;

}

.form-interest-icon {
  width: 30px;
  height: 30px;
}

