.interest-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.interest-choice {
  background: #b7b7b7;
  padding: 10px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background: gray;
    color: white;
    opacity: 1;
  }
}


.interest_icon {
  width: 60px;
}

.interest-card {
  border: 1px solid black;
  text-align: center;
  width: 100px;
  padding: 4px;
  margin: 15px;
}
