.profile-banner {
  position: relative;
  height: 175px;
  background-size: cover !important;
  background-position: center;
}

.profile-avatar {
  position: absolute;
  // right: 5px;
  // left: 5px;
  // top: 5px;
  width: 150px;
  border-radius: 50%;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.sample-card {

  height: 400px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  overflow: hidden;
  text-align: center;
}

.profile-tile h3 {
  margin-top: 40px;
}

.button {
  // font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid black;
}


